<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
  <form th:method="post">
      <div>
          <label for="title"></label>
          <br>
          <input id="title" name="title" th:value="${post.title}">
      </div>
      <div>
          <label for="body">Body</label>
          <br>
          <textarea name="body" id="body" cols="30" rows="10" placeholder="Enter Blog Content" th:text="${post.body}"></textarea>
    </div>
      <button>Edit Post</button>
  </form>
</body>
</html>