<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:if="${guess == null}">
        <h2>Guess what the dice roll will be: </h2>
        <p><a href="/rolldice/1">1</a></p>
        <p><a href="/rolldice/2">2</a></p>
        <p><a href="/rolldice/3">3</a></p>
        <p><a href="/rolldice/4">4</a></p>
        <p><a href="/rolldice/5">5</a></p>
        <p><a href="/rolldice/6">6</a></p>
    </div>

<!--    <h2>Guess what the dice roll will be: </h2>-->
<!--    <p><a href="/rolldice/1">1</a></p>-->
<!--    <p><a href="/rolldice/2">2</a></p>-->
<!--    <p><a href="/rolldice/3">3</a></p>-->
<!--    <p><a href="/rolldice/4">4</a></p>-->
<!--    <p><a href="/rolldice/5">5</a></p>-->
<!--    <p><a href="/rolldice/6">6</a></p>-->

<!--    <div th:if="${guess} == 1">-->
<!--        <p>Yo, you guessed 1</p>-->
<!--    </div>-->
<!--    <div th:if="${guess != null}">-->
<!--        <div th:switch="${guess}">-->
<!--            <h2 th:case="1">You guessed <span th:text="${guess}"></span>. The actual roll was <span th:text="${diceRoll}"></span></h2>-->
<!--            <h2 th:case="2">You guessed <span th:text="${guess}"></span>. The actual roll was <span th:text="${diceRoll}"></span></h2>-->
<!--            <h2 th:case="3">You guessed <span th:text="${guess}"></span>. The actual roll was <span th:text="${diceRoll}"></span></h2>-->
<!--            <h2 th:case="4">You guessed <span th:text="${guess}"></span>. The actual roll was <span th:text="${diceRoll}"></span></h2>-->
<!--            <h2 th:case="5">You guessed <span th:text="${guess}"></span>. The actual roll was <span th:text="${diceRoll}"></span></h2>-->
<!--            <h2 th:case="6">You guessed <span th:text="${guess}"></span>. The actual roll was <span th:text="${diceRoll}"></span></h2>-->
<!--        </div>-->
<!--    </div>-->
    <div th:if="${guess != null}">
        <h2>You guessed <span th:text="${guess}"></span>. The actual roll was <span th:text="${diceRoll}"></span></h2>
        <h3 th:if="${guess} != ${diceRoll}">Dummy!</h3>
        <h3 th:if="${guess} == ${diceRoll}">Wow!</h3>
    </div>

</body>
</html>